.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.content {
  display: flex;
  width: 90%;
  max-width: 1280px;
  min-height: 70vh;
  flex-direction: row;
}

.left {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12rem;
  gap: 1rem;
}

.right {
  flex-basis: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  background-color: var(--background);
}

.menu_item {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

